.boton:hover,
.boton:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.72);
    background: #fdfdfd80;
}

.boton:hover {
    transform: translateY(-1px);
}

.boton:active {
    background-color: var(--blanco-1);
    transform: translateY(0);
}

.boton {
    outline: var(--outline-none);
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: .35rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: baseline;
    height: 3rem;
    padding: .5rem 1rem;
    text-decoration: var(--text-decoration-none);
    transition: all 250ms;
    touch-action: manipulation;
}